@{
    ViewBag.Title = "About";
    if (User.Identity.IsAuthenticated)
    {
        string role = Session["Role"].ToString();
        if (role == "Admin")
        {
            Layout = "~/Views/Shared/_adminLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_userLayout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<br />
<br />

<h1 style="color:antiquewhite;text-align:center"> <i class='fas fa-universal-access' style="color:yellowgreen"></i> About Us <i class='fas fa-universal-access' style="color:yellowgreen"></i></h1>
<hr />
<br />
<div class="jumbotron" style="background-color:beige">
    <p style="color:black;font-size:large">
        Fitnesspoint creates personalized meal plans based on your food preferences, budget, and schedule.
        With a membership to Fitnesspoint, you'll get the tools you need to successfully plan your diet.
        At Fitnesspoint.com, we focus on making sure you can log your meals as quickly and easily as possible.
        Because the easier we make it for you, the more likely you are to stay on track,
        and the more likely you are to succeed in your weight loss goals.
        Each diet plan selected can be customised according to things such as your personal statistics, current physical condition, activity levels and whether you want to lose fat, stay in shape, or gain muscle.
        It can be personalised to whether you are a vegan or not, if you have any allergies such as gluten, also including the option for halal and kosher recipes only.
        You can even tell the planner that you prefer to only drink smoothies in the morning. Once your diet plan is set up, the meal planner automatically finds recipes to match the diet plan criteria. Have a look at the suggested recipes that are produced for you automatically and adjust until you get what is right for you.

    </p>
</div>

    

