
@{
    ViewBag.Title = "Allergies and Intolerances";
    if (User.Identity.IsAuthenticated)
    {
        string role = Session["Role"].ToString();
        if (role == "Admin")
        {
            Layout = "~/Views/Shared/_adminLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_userLayout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


<h2 style="color:navajowhite"><b>Allergies and Intolerances <i class='fas fa-exclamation-triangle' style="color:orangered"></i></b></h2>
<br />
<div class="container" style="background-color:antiquewhite">
    <h3 style="font-weight:900;color:darkorchid">
        5 Tips for Avoiding Food Allergens at Home
    </h3>
    <table class="table" style="background-color:ghostwhite">
        <tr>
            <th style="font-weight:900;font-size:larger;color:darkslategrey">
                &nbsp;
            </th>
            <th style="font-weight:900;font-size:larger;color:darkslategrey">
                &nbsp;
            </th>



            <th></th>
        </tr>

        <tr>
            <td style="color:navy;font-weight:900;font-size:large">Host at Your Home </td>
            <td>
                <b>
                    Because you are in control of what is served, this can be the safest option when managing food allergies.
                    You may choose to prepare only "safe" foods and let guests know what they can and cannot bring into the house.
                    If you do serve foods containing allergens, designate separate areas for foods with the allergen to help prevent cross-contact.
                </b>
            </td>
        </tr>
        <tr>
            <td style="color:navy;font-weight:900;font-size:large">Focus on Whole, Unprocessed Foods</td>
            <td>
                <b>
                    While cooking from scratch may seem like more work, it helps ensure food and prep areas are free from food allergens.
                    You might even find that you save time in the long run because you don't have to scour every ingredient list.
                </b>
            </td>
        </tr>
        <tr>
            <td style="color:navy;font-weight:900;font-size:large">Modify Traditional Recipes Using Allergen-Free Ingredients</td>
            <td>
                <b>
                    Once you know a few simple swaps, you may realize just how easy it is to modify your recipes. Focus on 'like items' when considering swaps: non-dairy milks for cow's milk (or vice-versa), or naturally gluten-free grains for wheat.
                    Eggs in recipes often can be substituted with ground, rehydrated flax or chia seeds.
                </b>
            </td>
        </tr>
        <tr>
            <td style="color:navy;font-weight:900;font-size:large">
                Always Read All Ingredient Labels
            </td>
            <td>
                <b>
                    Even if you think a product is allergen-free, read the label. Food manufacturers change formulas, which may introduce allergens into previously "safe" foods and beverages.
                </b>
            </td>

        </tr>
        <tr>
            <td style="color:navy;font-weight:900;font-size:large"> Keep it Clean</td>
            <td><b>Prevent cross-contact ad cross-contamination by encouraging frequent hand washing.</b></td>
        </tr>
    </table>

</div>

<div class="container" style="background-color:antiquewhite">

    <h3 style="font-weight:900;color:darkorchid">
        3 Tips for Avoiding Food Allergens away from Home
    </h3>

    <table class="table" style="background-color:ghostwhite">
        <tr>
            <th style="font-weight:900;font-size:larger;color:darkslategrey">
                &nbsp;
            </th>
            <th style="font-weight:900;font-size:larger;color:darkslategrey">
                &nbsp;
            </th>



            <th></th>
        </tr>

        <tr>
            <td style="color:navy;font-weight:900;font-size:large">Offer to Help the Host</td>
            <td>
                <b>
                    If you help plan the menu or shop for ingredients, you can choose items you know are safe.
                    If you cook, you can help ensure that dishes are prepared without allergens.
                    And, don't hesitate to ask your host to save labels from products to reference and provide you peace of mind.
                </b>
            </td>
        </tr>
        <tr>
            <td style="color:navy;font-weight:900;font-size:large">Bring Snacks and Desserts</td>
            <td>
                <b>
                    If helping ahead of time is out of the question, bring a few allergen-free options.
                    Bring allergen-free snacks and desserts, since baked goods feature common allergens such as wheat, dairy, eggs, nuts and soy.
                    Pack snacks such as fresh fruit with sunflower butter packets; carrots with hummus; popcorn; and homemade trail mix with rice cereal, seeds and chocolate chips.
                    For easy festive desserts, melt chocolate chips as a dip for dried apricots or allergen-free cookies, or bake apples sprinkled with cinnamon and brown sugar and topped with allergen-free whipped topping.
                </b>
            </td>
        </tr>
        <tr>
            <td style="color:navy;font-weight:900;font-size:large">Communication is Key</td>
            <td>
                <b>
                    If a host is unfamiliar with how to handle food allergies, they might fall victim to the 'a little bit won't hurt' mindset. Communicate at the start that a little bit can hurt, and that you'd be more than happy to help with shopping or prep so that the host can feel comfortable and you can feel confident in the foods served.
                </b>
            </td>
        </tr>

    </table>

</div>