
@{
    ViewBag.Title = "BodyType";
}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<h2 style="color:navajowhite"><b>Whats your body type <span class="iconify" data-icon="bi-patch-question-fill" data-inline="false"></span></b></h2>
<br />
<div class="jumbotron" style="background-color:antiquewhite">
    <p style="color:black;font-size:large;font-weight:900">
        Your body type can influence how you respond to different types of workouts and diet plans.
        So it’s important to be able to identify and understand your body type. Different body types require different training methods and diet plans.
    </p>
</div>
<table class="table" style="background-color:ghostwhite">
    <tr>
        <th style="font-weight:900;font-size:larger;color:darkslategrey">
            &nbsp;Type
        </th>
        <th style="font-weight:900;font-size:larger;color:darkslategrey">
            &nbsp;Description
        </th>



        <th></th>
    </tr>

    <tr>
        <td style="color:navy;font-weight:900;font-size:large">&nbsp;Ectomorphs </td>
        <td style="color:darkgoldenrod"><b> They are long and lean, with little body fat, and little muscle. They have a hard time gaining weight. Fashion models and basketball players fit this category. While most of us love to hate these genetically-blessed individuals, some male ectomorphs may not be thrilled with their narrow-chested frames, and some female ectomorphs long for more womanly curves. </b></td>
    </tr>
    <tr>
        <td style="color:navy;font-weight:900;font-size:large">&nbsp;Endomorphs</td>
        <td style="color:tomato"><b> They have lots of body fat, lots of muscle, and gain weight easily. "Football lineman tend to be endomorphs -- they're heavier and rounder individuals," says Colby. "And they don't have to necessarily be overweight. Both Oprah Winfrey and Marilyn Monroe are classic examples of endomorphs." </b></td>
    </tr>
    <tr>
        <td style="color:navy;font-weight:900;font-size:large">&nbsp;Mesomorphs</td>
        <td style="color:forestgreen"><b> They are athletic, solid, and strong. "They're not overweight and not underweight," says Colby, "and they can eat what they want without worrying too much about it." They both gain and lose weight without too much effort. </b></td>
    </tr>
    <tr>
        <td style="color:navy;font-weight:900;font-size:large">
            &nbsp;Combinations
        </td>
        <td style="color:olive"><b> These include pear-shaped ecto-endomorphs with thin, delicate upper bodies and high fat storage in the hips and thighs, and apple-shaped endo-ectomorphs, with high fat storage in the mid-section and thin lower bodies</b></td>


    </tr>
</table>

<div class="jumbotron" style="background-color:antiquewhite">
    <h2 style="color:darkorchid"><b>Eat and Exercise Right for Your Type </b></h2>
    <br />
    <p style="font-size:large">
        If you're an <b style="font-size:larger;font-weight:900">Ectomorph</b> struggling to put some meat on your bones, We suggests you first see a doctor to rule out any underlying medical conditions.
        Then, "take a good look at your diet." If you only eat three times a day, "try aiming for five or six meals."
        For snacks and meals, choose nutrient- and calorie-dense foods like nuts, dried fruits, sunflower seeds, and starchy vegetables, rather than lower-cal choices like fresh fruits and popcorn.
        Don't skimp on fat, either -  make sure that 30% of your calories come from fat.
        <br />
        When exercising, ectomorphs should keep cardio or aerobic training to a minimum while concentrating on muscle-building moves with fairly heavy weights.
    </p>
    <br />
    <p style="font-size:large">
        If you're an <b style="font-size:larger;font-weight:900">Endomorph</b>, avoid crash dieting. It will only make your body cling to its fat reserves.
        Instead, adjust your diet so you're eating more frequent, smaller meals, no more than 5 hours apart.
        Try to eat slowly, and drink plenty of water. Eat lean proteins and high-fiber foods to help you feel full longer.
        And don't be fooled by the fat-free fad -- you need a little fat to stay healthy.
        <br />
        Endomorphs should do at least 30 minutes of moderately-paced aerobic activity five days a week.
        Try walking, jogging, bicycling, dancing, or any other activity that gets your heart pumping.
        When the pounds start coming off, add weight training two or three times a week to tone and strengthen your muscles.
        "Adding more muscle helps you burn extra calories all day long,"
    </p>
    <br />
    <p style="font-size:large">
        Genetically lucky <b style="font-weight:900;font-size:larger">Mesomorphs</b> may have an easier time than most staying slim and fit, but "this can be a double-edged sword,".
        "They have a tendency to assume that they can handle an extra helping of dessert or a hiatus from the gym.
        But the same rules for health and well-being apply to them as to everyone else."
        Osteoporosis, heart disease, and other diet- and lifestyle-related diseases can affect anyone, regardless of body type.
    </p>
</div>