@{
    ViewBag.Title = "Contact";
    if (User.Identity.IsAuthenticated)
    {
        string role = Session["Role"].ToString();
        if (role == "Admin")
        {
            Layout = "~/Views/Shared/_adminLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_userLayout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}




<h2 style="color:antiquewhite">Contact us at..</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <h3 style="color:lemonchiffon">Office</h3>
        <hr />
        <address style="color:ghostwhite">
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:2x334</abbr>
            425.555.0100

        </address>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

    <div class="col-md-4">
        <h3 style="color:lemonchiffon">Email us</h3>
        <hr />
        <address style="color:ghostwhite">
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>

    </div>

</div>