
@{
    ViewBag.Title = "WorkOutIdeas";
}

<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


<h2 style="color:navajowhite"><b>Work-Out Ideas <i class='fas fa-lightbulb' style="color:yellow"></i></b></h2>
<p style="font-size: larger;text-align: center">
    <i class='fas fa-walking' style='font-size:48px;color:yellow'></i>&nbsp;&nbsp;&nbsp;&nbsp;
    <i class='fas fa-running' style='font-size:48px;color:cornflowerblue'></i>&nbsp;&nbsp;&nbsp;&nbsp;
    <i class='fas fa-biking' style='font-size:48px;color:forestgreen'></i>

</p>
<div class="container" style="background-color:antiquewhite">
    <h3 style="font-weight:900;color:darkorchid">
        30-Minute Workouts for Any Schedule
    </h3>

    <p style="font-size:small">
        Even with the best intentions, it's easy to let a busy weekly routine crowd out regular physical activity. Yet, the beneficial effects of exercise are undeniable. Current recommendations suggest that in a week, adults get at least 150 minutes of moderate-intensity aerobic exercise such as such as brisk walking or cycling, and two to three days of muscle-strengthening activities.

        It doesn't have to be done all at one time. The 150 minutes can be spread out throughout during the week, and even broken into smaller chunks of time throughout the day. Research suggests that small bouts of exercise throughout the day compared to one prolonged bout can be equally beneficial to one's health. In addition, smaller bouts may be easier for people to implement and maintain. So, if you can't seem to find 30 consecutive minutes in a day for your workout, you can still fit it in by splitting up the time.

        To help keep exercise a priority, schedule it into your calendar like any other appointment or task. Scheduling is a straightforward way of converting an intention or activity into a long-lasting habit.
    </p>
    <div style="background-color:darkgray">
        <p style="font-size:small">
            <br />
            <b>10-Minute Mini-Workouts</b><br />
            Try taking 10 minutes in the morning, afternoon and evening to do some form of activity. This can include 10 minutes of body weight exercises (push-ups, crunches, lunges, squats, etc.) in the morning, a 10-minute brisk walk during your lunch break at work and 10 minutes of yoga-inspired stretching in the evening.
            <br />
            <hr />

        </p>
    </div>
</div>
<br />

<div class="container" style="background-color:antiquewhite">
    <h3 style="font-weight:900;color:darkorchid">
        Involve the Family in Daily Fitness
    </h3>
    <p>Thirty minutes will fly by if you get the kids engaged in something that they, too, can enjoy. Grab the family and head out for a walk, game of tag or bike ride.</p>

</div>