@{
    ViewBag.Title = "Home Page";
    if (User.Identity.IsAuthenticated)
    {
        string role = Session["Role"].ToString();
        if (role == "Admin")
        {
            Layout = "~/Views/Shared/_adminLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_userLayout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!--Creating a coloured screen-->
<!--Heading over screen-->
<!--Paragraph over screen-->
<div class="jumbotron" style="background-color:antiquewhite">
    <h1>Exercise&raquo;</h1>
    <h4>
        Exercise is any bodily activity that enhances or maintains physical fitness and overall health and wellness.

        It is performed for various reasons, to aid growth and improve strength, preventing aging, developing muscles and the cardiovascular system, honing athletic skills, weight loss or maintenance, improving health..
    </h4>

</div>
<!--Creating a coloured screen-->
<!--block size button-->
<!--Anchor and text over button-->
<div class="jumbotron" style="background-color:azure">
    <p>Choose Your Goal</p>
    <p><a href="~/Exercise/FatLoss" class="btn btn-primary btn-lg btn-block">Loose Fat &raquo;</a></p>
    <p><a href="~/Exercise/MuscleGain" class="btn btn-primary btn-lg btn-block">Gain Muscle &raquo;</a></p>
</div>
<!--A single row having three column-->
<div class="row" style="color:white">
    <div class="col-md-4">
        <h2 style="color:antiquewhite">Get Training Plan</h2>
        <p>
            Get training plan according to you fitness goal and lose weight, tone up, gain muscle, increase cardiovascular fitness, increase strength for a healthier you.
        </p>
        <p><a class="btn btn-primary btn-block">&raquo; &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:antiquewhite">Work Hard</h2>
        <p>Stay motivated! Work towards your everyday goal. Stick to your diet and workout plan, find happiness and joy in your workout.</p>
        <p><a class="btn btn-primary btn-block">&raquo; &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:antiquewhite">Enjoy Result</h2>
        <p>Set your goal for couple of weeks and work for it. Compare with your previous version, you will proud and happy..</p>
        <p><a class="btn btn-primary btn-block">&raquo; &raquo;</a></p>
    </div>
</div>
