
@{
    ViewBag.Title = "FatLoss";
    if (User.Identity.IsAuthenticated)
    {
        string role = Session["Role"].ToString();
        if (role == "Admin")
        {
            Layout = "~/Views/Shared/_adminLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_userLayout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="jumbotron" style="background-color:white">
    <h2>Fat Loss Exercise&raquo;</h2>

</div>
<div class="row" style="color:white">
    <div class="col-md-4">
        <h2>Cardio FatLoss</h2>
        <p>
            cardio exercise is physical exercise of low to high intensity. Cardio exercise is performed by repeating sequences of light-to-moderate intensity exercise activities.
        </p>
        <ul style="font-weight: bold">
            <li>Running, HIIT</li>
            <li>350-750 calorie burn</li>
            <li>No equipement</li>
        </ul>

    </div>
    <div class="col-md-4">
        <h2>Bodyweight Fatloss</h2>
        <p>It is strength-training exercises that use the individual's own weight to provide resistance against gravity. It enhance  biomotor abilities like strength, power, endurance, speed. </p>
        <ul style="font-weight: bold">
            <li>Bodyweight exercise</li>
            <li>250-400 calorie burn</li>
            <li>Basic equipement</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Weightlifting</h2>
        <p>
            Weight lifting training involves the performance of physical exercises which are designed to improve strength and endurance. It is  associated with the use of weights.
            <ul style="font-weight: bold">
                <li>Use of weight</li>
                <li>300-500 calorie burn</li>
                <li>Gym equipement</li>
            </ul>
    </div>
</div>
<div class="jumbotron" style="background-color:white">
    

    <p><a href="~/Exercise/ChooseGoal" class="btn btn-primary btn-lg btn-block">Choose Your Goal &raquo;</a></p>


</div>

