
@{
    ViewBag.Title = "MuscleGain";
}

<div class="jumbotron" style="background-color:white">
    
    <h2>Muscle Gain Exercise&raquo;</h2>
</div>
<div class="row" style="color:white">
    <div class="col-md-4">
        <h2>Muscle Gain</h2>
        <p>
            it focuses on physical appearance instead of strength. An individual who engages in this activity is referred to as a bodybuilder.
        </p>
        <ul style="font-weight: bold">
            <li>Heavy weight</li>
            <li>400 calorie burn</li>
            <li>Gym equipement</li>
        </ul>
    </div>
</div>
<div class="jumbotron" style="background-color:white">
    

    <p><a href="~/Exercise/ChooseGoal" class="btn btn-primary btn-lg btn-block">Choose Goal &raquo;</a></p>


</div>


